<div class="jumbotron">
    <div class="container">
                            <h4> Want to say hello?</h4>
                            <a target="_blank" href="nikky.sqe@gmail.com/contact-us"  class="btn btn-black btn-contact">
                                nikky.sqe@gmail.com <i class="fa fa-paper-plane"></i>
                            </a>
                            </div>
                                  </div>